/build
/dist
/LitleSdkPython.egg-info
.project
.pydevproject
/nosetests.xml
.idea/
/litleSdkPythonTest/unit/test/
/.settings
/litleSdkPython/*.pyc
/litleSdkPythonTest/unit/*.pyc
/litleSdkPythonTest/all/*.pyc